.custom-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    font-size: 4rem;
    padding: 2px 2px;
    color: white;

    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-style: solid;
  	
  	border-color:white;
  	 border-radius: 5px;

    &:hover {
      background-color: rgba(122, 22, 255, 0.8);
      border-color:rgba(38, 38, 255, 0.8);
      }
}